/***
    The new CSS reset - version 1.9 (last updated 19.6.2023)
    GitHub page: https://github.com/elad2412/the-new-css-reset
***/

/*
    Remove all the styles of the "User-Agent-Stylesheet", except for the 'display' property
    - The "symbol *" part is to solve Firefox SVG sprite bug
    - The "html" element is excluded, otherwise a bug in Chrome breaks the CSS hyphens property (https://github.com/elad2412/the-new-css-reset/issues/36)
 */
*:where(:not(html, iframe, canvas, img, svg, video, audio):not(svg *, symbol *)) {
    all: unset;
    display: revert;
}

/* Preferred box-sizing value */
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* Reapply the pointer cursor for anchor tags */
a, button {
    cursor: revert;
}

/* Remove list styles (bullets/numbers) */
ol, ul, menu {
    list-style: none;
}

/* For images to not be able to exceed their container */
img {
    max-inline-size: 100%;
    max-block-size: 100%;
}

/* removes spacing between cells in tables */
table {
    border-collapse: collapse;
}

/* Safari - solving issue when using user-select:none on the <body> text input doesn't working */
input, textarea {
    -webkit-user-select: auto;
}

/* revert the 'white-space' property for textarea elements on Safari */
textarea {
    white-space: revert;
}

/* minimum style to allow to style meter element */
meter {
    -webkit-appearance: revert;
    appearance: revert;
}

/* preformatted text - use only for this feature */
:where(pre) {
    all: revert;
}

/* reset default text opacity of input placeholder */
::placeholder {
    color: unset;
}

/* remove default dot (•) sign */
::marker {
    content: initial;
}

/* fix the feature of 'hidden' attribute.
   display:revert; revert to element instead of attribute */
:where([hidden]) {
    display: none;
}

/* revert for bug in Chromium browsers
   - fix for the content editable attribute will work properly.
   - webkit-user-select: auto; added for Safari in case of using user-select:none on wrapper element*/
:where([contenteditable]:not([contenteditable="false"])) {
    -moz-user-modify: read-write;
    -webkit-user-modify: read-write;
    overflow-wrap: break-word;
    -webkit-line-break: after-white-space;
    -webkit-user-select: auto;
}

/* apply back the draggable feature - exist only in Chromium and Safari */
:where([draggable="true"]) {
    -webkit-user-drag: element;
}
/**
SITE UTILS
*/

@font-face {
    font-family: 'Segoe UI Normal';
    font-style: normal;
    font-weight: 400;
    src: local(''), url('/fonts/segoe-ui-4-cufonfonts/Segoe UI.ttf') format('truetype');
}

:root {
    --font-body: 'Segoe UI Normal', 'Segoe UI', Helvetica Neue, Helvetica,Arial,sans-serif, Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', sans-serif;
    --font-bold: 'Segoe UI Bold', 'Segoe UI', Helvetica Neue, Helvetica,Arial,sans-serif, Roboto, Oxygen, Ubuntu,
    Cantarell, 'Open Sans', sans-serif;
    font-family: var(--font-body);
    --cWhite: #fff;
    --cLightSection: #F5F7FA;
    --cOrange: #FF5800;
    --cDarkOrange: #9e3800;
    --cCrimson: #CE0569;
    --cPrimary: #333;
    --cBlack: #1D1D1D;
    --bgGradient: linear-gradient(90deg, var(--cCrimson) 0%, var(--cOrange) 100%);
    --focusShadow: 0 0 2px rgba(0,0,0,0.8);
}
@font-face {
    font-family: 'Segoe UI Bold';
    font-style: normal;
    src: local(''), url('/fonts/segoe-ui-4-cufonfonts/Segoe UI Bold.ttf') format('truetype');
}

/** Font weight as 900 **/

body {
    font-size: 16px;
    color: var(--cPrimary);
}

h1 {
    font-size: 2rem;
}

h3 {
    font-size: 1.6rem;
    line-height: 2rem;
    margin-bottom: 1rem;
}

p {
    margin-top: 1rem;
    line-height: 1.6rem;
}

img {
    width: 100%;
}

strong {
    font-weight: bolder;
}

section {
    margin: auto;
    display: flex;
    justify-content: center;
    scroll-margin-top: 3rem;
}

section > div {
    padding: 1rem 1rem 4rem;
    width: 100%;
}

@media (min-width: 800px) {
    section > div {
        padding: 1rem 4rem;
    }
}

@media (min-width: 1300px) {
    section > div {
        padding: 1rem 0;
    }
}

section.medium > div {
    max-width: 800px;
}

section.large > div {
    max-width: 1200px;
}

section.light {
    background: var(--cLightSection);
}

section.white {
    background: var(--cWhite);
}

section.dark {
    background: var(--cBlack);
    color: var(--cWhite);
}

@media (min-width: 800px) {
    section.mHeight {
        min-height: 880px;
    }
}

.center {
    text-align: center;
}

p {
    font-size: 1.2em;
}

a {
    color: var(--cOrange);
    text-decoration: underline;
}

a:hover {
    color: var(--cDarkOrange);
}

.btn {
    padding: 4px 8px;
    border-radius: 4px;
    color: var(--cWhite);
    background: var(--cCrimson);
    cursor: pointer;
}

.btn[aria-current="true"] {
    background: var(--bgGradient);
}

.btn:focus {
    box-shadow: var(--focusShadow)
}

.btn-back {
    padding: 0.5rem 1rem 0.5rem 2rem;
    border: 1px solid var(--cBlack);
    border-radius: 1rem;
    font-size: 0.8rem;
    text-decoration: none;
    color: var(--cBlack);
    background: url(/images/icn-shevron-left.svg) no-repeat 16px 55%;
    transition: background-position 300ms;
}

.btn-back:hover {
    color: var(--cBlack);
    background-position: 12px 52%;
}

.btn-forward {
    padding: 0.5rem 2rem 0.5rem 0rem;
    font-weight: 900;
    text-decoration: none;
    color: var(--cBlack);
    background: url(/images/icn-arrow-right.svg) no-repeat 95% 60%;
    font-family: var(--font-bold);
    transition: background-position 300ms;
}

.btn-forward:hover {
    color: var(--cBlack);
    background-position: 100% 60%;
}

.brandTitle {
    display: inline-block;
    margin-top: 2rem;
    background: var(--bgGradient);
    background-size: cover;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: clamp(1.75rem, 4vw + 2rem, 6rem);
    font-family: var(--font-bold);
}

.postHead {
    max-width: 800px;
    margin: 1rem auto;
    text-align: center;
}

/**
ANIMATION
*/
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
